* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {    
    background-color: beige;
    font-family: "Poppins", sans-serif;
    
}
/* main {
    max-width: 1250px;
    display: flex;
    justify-content: center;

    
    border: solid 2px black;
    margin: 1rem auto 0 auto;
} */
section{
    padding: 1% 5%;
}