* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body { 
    
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
    
}
main {
    margin: 0 auto;
    max-width: 1700px;
    margin-top: 4%;
    /* max-width: 1250px; */
    display: flex;
    /* justify-content: center; */

    
    /* border: solid 2px black; */
    /* margin: 1rem auto 0 auto; */
}
section{
    padding: 1% 5%;
}
.micro-texto{
    font-size: 1rem;
    margin-top: 12px;
    color: rgb(79, 79, 160);
    opacity: 0.8;
}