

header {
    z-index: 9999;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);    
    position: sticky;
    left: 0;
    top: 0;
    box-sizing: border-box;
    padding: 1% 5%;
    width: 100%;
    background-color: beige;
    /* margin-left: 50%;
    transform: translateX(-50%); */
    /* border: solid 1px black; */
}   

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.logoMobile{
    display: none;
}
.logoMain{
    display: block;
    width: clamp(80px, calc(47.273px + 10.227vw), 170px)
}



/* .contato {
    font-family: "Poppins", sans-serif;
    font-size: clamp(10px, calc(7.818px + 0.682vw), 16px);
    font-weight: bold;
    width: clamp(110px, calc(88.182px + 6.818vw), 170px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
    padding: 10px;    background-color: rgb(135, 193, 240);
    border: none;

}

.zap {
    box-sizing: border-box;    
    width: clamp(10px, calc(4.545px + 1.705vw), 25px);
    margin-right: 5px;

} */

/* .contato:hover {
    cursor: pointer;
    background-color: rgb(111, 179, 235);

} */

@media (max-width: 768px){
    /* .logoMain{
        width: 50%;
    }
    .logoMobile{
        display: block;
    } */

}