/* ANIMAÇÕES */


#sec1 {    
    margin: 0 auto;  
    height: calc(100vh - 52.61px);
    display: flex;

    position: relative;
    align-items: stretch;
    
   
    /* border: solid 1px rgb(25, 190, 25); */

}
#headline,
#banner {
    height: 100%;
}

#headline {
    display: flex;
    flex-direction: column;
    width: 35%;
    position: relative;
    align-self: center;
    /* border: solid 1px rgb(25, 190, 25); */
    justify-content: center;
    
    
}

.span1 {    
    display: inline-block;
    font-size: 5rem;
    color: orange;
    animation: animacaoTi 0.8s ease-in-out infinite alternate;
    font-weight: 750;
}

.span2{
    color: rgb(79, 79, 160);
    font-size: 3rem;
    text-align: left;
    font-weight: 650;   
}

.descricao {
    font-weight: 450;
    width: 70%;
    color: rgb(79, 79, 160);
    text-align: left;
    padding: 2% 0 6%;
    font-size: clamp(13px, calc(5.455px + 0.795vw), 15px);
}
#shape{
    top: 0;
    right:0;
    position: absolute;
    width: 50%;
    height:100%;
    /* border: solid 1px black; */
    border-radius: 0 350px 0 300px ;
    background-color: rgb(255, 165, 0 , 0.5);
}

#banner {
    position: relative;
    width: 60%;
    overflow: hidden;
    box-sizing: border-box;
    /* animation: animacaoBanner 10s ease 0s infinite alternate-reverse forwards; */

    /* border: solid 1px black; */
}

.imgBanner {

    display: block;
    width: 100%;
    object-fit: contain;
}

#formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 166, 1, 0.2);
    /* position: relative; */
    border-radius: 15px;
    width: 70%;
    height: clamp(200px, calc(163.636px + 11.364vh), 300px);
    /* border: solid 1px black; */
}

form {
    /* position: absolute; */
    gap: 12px;
    /* border: solid 1px black; */
    width: 80%;
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 5px;
    padding: 5px;
    border: none;
}

.contato {
    font-family: "Poppins", sans-serif;
    font-size: clamp(10px, calc(7.818px + 0.682vw), 16px);
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    padding: 10px;
    background: linear-gradient(to right, rgb(4, 106, 189), rgb(120, 182, 233));
    border: none;

}

.zap {
    box-sizing: border-box;
    width: clamp(10px, calc(4.545px + 1.705vw), 25px);
    margin-right: 5px;

}

.contato:hover {
    cursor: pointer;
    background-color: rgb(111, 179, 235);

}

/**************************************** SEC 2 *************************************************************************************/
/* #sec2{
    height: 100vh;
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* #formulario {
    
    background-color: rgba(255, 166, 1, 0.2);
    position: relative;
    border-radius: 15px;
    width:25%;
    height: clamp(300px ,calc(118.182px + 19.318vh), 350px);
    border: solid 1px black;
}

form {
    position: absolute;
    margin-bottom: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);

    top: 50%;
    border: solid 1px black;
    width: 80%;
    display: flex;
    flex-direction: column;
} */
/* label{
    display: none;
}
input{
    padding: 3px;
    border: none;
    border-radius: 5px;
    width: 70%;
    margin: 0 auto;
}
.submit{
    font-family: "Poppins", sans-serif;
    font-size: clamp(10px, calc(7.818px + 0.682vw), 16px);
    font-weight: bold;
    width: clamp(110px, calc(88.182px + 6.818vw), 170px);
    border-radius: 10px;    
    padding: 10px;    background-color: rgb(135, 193, 240);
    border: none;
    margin-top: 25px;
    align-self: center;

}


#cta{
    width:40% ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: solid 1px black;
    align-items: center;
    
    
}
.texto_cta{

}
.tit_cta{
    color: rgb(79, 79, 160);
    font-size: clamp(10px, calc(9.545px + 1.705vw), 20px);
    padding: 0 0 2%;
    text-align:left;
}
.tit_cta span{
    display: inline-block;
    padding: 0%;
    font-size: clamp(22px, calc(17.273px + 1.477vw), 35px);
    color: orange;
}
#imgcta{
    align-self: flex-start;
    width: 45%;
}
.seta{
    
    transform: rotateY(180deg);
    animation: animacaoSeta 0.8s ease-in-out infinite alternate;

    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    transition: transform 0.5s;
}


@media(max-width: 768px) {
    #sec1 {
        padding: 1px;
        flex-direction: column;
        justify-content: flex-start;
        
    }

    .div1 {
        border: solid 1px black;
        padding: 0;
        order: 1;
    }

    .div3 {
        border: solid 1px black;
        padding: 0;
        order: 2;
    }

    .div2 {
        border: solid 1px black;
        padding: 0;
        order: 3;
    }

    #cta {

        width: 75%;

    }
    #formulario{
        
        position: static;
        width: 70%;
    }
    #banner{
        
        left: 0;
    }
} */

@media (max-width: 575px){

}